body {
	background-color: #ffffff;
}

#container {
	position: relative;
	margin: 30px 40px 0 8em;
}

.title {
	display: inline-block;
}

#logo {
	margin: 0 10px 0 0
}

#logo, header h2{
	display: inline-block;
	margin-top: 0px;
}

header h2 {
	color: #033CFF;
}

nav {
	display: inline-block;
}
nav ul{
	list-style-type: none;
}

nav li{
	display: inline-block;
	margin-right: 15px;
}

nav a{
	font-size: 1.3em;
	color: #033CFF;
	text-decoration: none;
}

nav a:hover{
	border-bottom: 3px solid #033CFF;
}

header #buttons {
	display: inline-block;
	float: right;
	margin-top: 20px;
}

header #buttons #login{
	margin-right: 8px;
	background-color: #ffffff;
    border: 1px solid #D5DCFE;
    box-shadow: 2px 2px #D5DCFE;
    color: #033CFF;
    cursor:pointer;
    font-size: 15px;
    font-weight: bold;
    height: 39px;
    padding: 0;
    width: 90px;
}

header #buttons #demo{
	margin-right: 5em;
	background-color: #FCBA00;
    border: 1px solid #D5DCFE;
    color: #ffffff;
    cursor:pointer;
    font-size: 15px;
    font-weight: bold;
    height: 39px;
    padding: 0;
    width: 110px;
}

#banner{
	margin-top: 15px;
	margin-bottom: 25px;
}

#banner_description {
	margin-top: 5em;
	float: left;
}

#banner_description h1 {
	color: #033CFF;
	font-size: 2.5em;
}

#banner_description h5 {
	color: #033CFF;
	font-size: 1em;
	text-transform: uppercase;
}

#banner_description p {
	font-size: 1.5em;
}

#banner_description form input[type="email"] {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D5DCFE;
    float: left;
    height: 25px;
    padding: 6px 6px 6px 15px;
    width: 20em;
}

#banner_description form input[type="submit"] {
	background-color: #FCBA00;
    border: 1px solid #ffffff;
    border-left-width:0px;
    color: #ffffff;
    cursor:pointer;
    float: left;
    margin-left: 10px;
    font-size: 11px;
    font-weight: bold;
    height: 39px;
    padding: 0;
    width: 90px;
}

#banner img {
	float: right;
}

